@model IEnumerable<HealthZone.Models.KorisnikNaListi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(model => item.ListaID)
            </td>
            <td>
                @Html.DisplayFor(model => item.Lista)
            </td>
            <td>
                @Html.DisplayFor(model => item.KorisnikID)
            </td>
            <td>
                @Html.DisplayFor(model => item.Korisnik)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KorisnikNaListiID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KorisnikNaListiID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KorisnikNaListiID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
