@model HealthZone.Models.ZahtjevZaOpremu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZahtjevZaOpremu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doktor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doktor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrstaZahtjeva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrstaZahtjeva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategorija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hitnost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hitnost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ZahtjevId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
